body {
  margin: 0;
  color: $text-color;
  font-size: $font-size-base;
}

html,
body,
#app {
  height: 100%;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-size: inherit;
}
